* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
.container {
    width: 320px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

}
.img {
    width: 100px;
    height: 100px;
    background: #3dd5f3;
    border-radius: 50%;
    margin: 0 auto 15px;
    border: 4px solid #e8445a;
}
.header {
    background: #e8445a;
    padding: 20px;
    text-align: center;
    position: relative;
}
.title {
    color: white;
    font-weight: bold;
}
.body {
    background: #0f1f3d;
    padding: 25px;
    text-align: center;
}

.box {
    width: 60px;
    height: 8px;
    background: white;
    border-radius: 10px;
    margin: 0 auto 10px;
}
.info h2 {
    color: white;
    margin-bottom: 5px;
}
.info p{
    color:  #cbd5e1;
    font-size: 14px;
}
.footer {
    background: #132c4f;
    padding: 15px;
}
.f-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.badge {
    background: #e8445a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}