* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}
.container {
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.img {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.header {
    background-color: blue;
    padding: 20px;
}

.title {
    font-weight: bold;
}

.body {
    display: flex;
    align-items: center;
    gap: 15px;
}