* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("117497448_p0.jpg") center / cover no-repeat;
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
     padding: 40px 50px;
    border-radius: 15px;
    width: 350px;
    max-width: 90%; 
    text-align: center;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.container h1{
    color: #ffffff;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body button {
  border-radius: 7px;
  border: none;
  background-color: #027b67;
  color: white;
  font-size: 16px;
  outline: none;
  
}

.body input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #027b67;
    background: transparent;
    outline: none;
    padding: 10px 6px;
    box-shadow: none;
    appearance: none;
    transition: box-shadow 0.25s ease;
    color: azure;
}
.body input::placeholder{
    color: aliceblue;
    opacity: 0.7;
}
.body button:hover{
    transform: scale(1.03);
    box-shadow: 0 0 8px rgba(2, 123, 103, 0.8) ;
    
}

.body input:hover,
.body input:focus {
    background: transparent;
    box-shadow: 0 4px 6px -4px rgba(2, 123, 103, 0.8);
}

