* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.container {
    background: red;
    width: 320px;
    height: 320px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    height: 200px;
    width: 200px;
    background: rgb(245, 253, 1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.eyes {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.eye-left, .eye-right {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    border: 3px solid black;
}

.mouth {
    width: 80px;
    height: 40px;
    border-bottom: 5px solid black;
    border-radius: 0 0 40px 40px;
}
