.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100wh;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.ball:nth-child(2) {
    animation-delay: 0.1s;
}

.ball:nth-child(3) {
    animation-delay: 0.2s;
}

.ball:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}