body, html {
    background-color: #f0f0f0;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #fff;
    width:350%;
    height: 100px;
    border-radius: 12px;
    padding: 60px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}
.container h1 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 8px;
     border: 1px solid #ccc;
}
.form button {
    background-color: rgb(0, 21, 255);
    color: #f0f0f0;
    border: none;
    border-radius: 8px;
}